// 夜间
$background-color-black: #010103;
$font-color-black: #a5a5a5;
// 白昼
$background-color-white: #e9ecef;
$background-color-white-main: #fff;
$font-color-white: #a5a5a5;

// 小号字体
$font-size-small: 12px;
// 默认字体
$font-size-default: 14px;
// 大号字体
$font-size-large: 16px;
